*{
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    background-image: url();

}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
}
#text2{
    display: flex;
}

#text2 img{
    width: 20px;
    
    
}
#text2,img{
    gap: 20px;
}

/* nextline */
.box{
    border: 1px solid black;
    padding: 20px;
    margin-top: 2vh;
    background-color: black;
}
#innertxt{
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    text-align: right;
    color: whitesmoke;
    width: 50%;
    justify-content: end;
    gap: 10px;
}


/* priceline */
.text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
    
}
.text>p{
    width: 60%;
    text-align: center;
    margin: 10px;
}
.text div{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-right: 40px;

}

/* edit */
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-right: 10px;
    margin: 30px;

}
.edit{
    width: 50%;
    height: 2px;
}

/* Tom and jerry cover */

.case1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
    
}
.case1 img{
    width: 10vw;
}
.case1>p{
    width: 60%;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
}
.case12{
    display: flex;
    justify-content: space-between;
    width: 40%;
    

}
.case11{
    display: flex;
    align-items: center;
    width: 60%;
}

/* heart design */
.case11 div{
    font-size: 30px;
    width: 50px;
    padding-left: 20px;
      
}

/* second line */
.line2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    margin-top: 10px;
}
.edit2{
    width: 50%;
    height: 2px;
}

/* design of case2 */

*.case2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
}
.case2 img{
    width: 10vw;
}
.case2>p{
    width: 60%;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
}
.case14{
    display: flex;
    justify-content: space-between;
    width: 40%;
    
}
.case13{
    display: flex;
    align-items: center;
    width: 60%;
}

/* heart design */
.case13 div{
    font-size: 30px;
    width: 50px;
    padding-left: 20px;
      
}

/* line3 */
.line3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    margin-top: 10px;
}

.edit3{
    width: 50%;
    height: 2px;
}
 /* checkpoint design */
 
 .subtotal{
    display: flex;
    flex-direction: row;
    /* padding-left: 60px; */
    gap: 50px;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
    justify-content: right;
 }

 .subtotal2{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
    justify-content: right;
 }
 .subtotal3{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 50%;
    margin: 0px auto;
    margin-top: 2vh;
    justify-content: right;
 }
 .lastsub{
    border: 1px grey solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 50%;
    margin: 0px auto;
    margin-top: 3vh;
    justify-content: right;
    padding: 5px;
 }

 /* checkout design */
 .checkout{
    border: 1px black solid;
    background-color: black;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

 }
 .checkout p{
    color: aliceblue;
 }













